@font-face {
    font-family: "PT Sans";
    src: url("./assets/fonts/ptsans.woff2") format("woff2"),
    url("./assets/fonts/ptsans.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("./assets/fonts/ptsansbold.woff2") format("woff2"),
    url("./assets/fonts/ptsansbold.woff2") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: #c95d8e;
}